@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AnotherFont';
  src: url('./assets/fonts/Geist-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body, html, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(204, 178, 178); /* Fallback */
}




